@import "var.scss";
@import "global.scss";

.login {
  //position: absolute;
  margin-left: 790px;
  width: 300px;
  height: 210px;
  top: $header-height;
  padding: 30px 50px;
  border-radius: 10px;
  //background-color: $color-light-grey;
  //background-color: $color-light-grey;
  background-image: url("~@/assets/img/swiper/1.jpg");
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  margin-bottom: 360px;
  margin-top: $header-height;

  .login-head {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .login-btn {
    @include layout(space-between);
    button {
      display: block;
      width: 100%;
    }
  }
}
